.service {
    position: relative;
    padding-top: 154px;
}

    .service > div {
        position: relative;
        z-index: 1;
    }

    .service:before {
        content: "";
        width: 100%;
        height: 100%;
        background: url(../Areas/Mobile/Content/images/vi-vn/img_Serv_bg.png) no-repeat top;
        background-size: 100% auto;
        position: fixed;
        top: 45px;
    }

    .service:after {
        content: "";
        width: 100%;
        max-width: 768px;
        height: 100%;
        background: url(../Areas/Mobile/Content/images/vi-vn/img_Serv_girl.png) no-repeat top;
        background-size: 100% auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

.service_list {
    background-color: #fff;
    display: table;
    width: 90%;
    height: 50px;
    margin: auto;
    margin-bottom: 13px;
    cursor: pointer;
    padding: 0 3%;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 3px 7px rgba(0,0,0,0.03);
}

    .service_list:nth-last-child(1) {
        margin-bottom: 0;
    }

    .service_list.off {
        cursor: none;
    }

        .service_list.off .serMaintain {
            display: block;
        }

        .service_list.off img {
            opacity: 0.3;
        }

        .service_list.off h3 {
            color: #ccc;
        }

        .service_list.off .btn_ServID {
            display: none;
        }

    .service_list:not(.off):active {
        background-color: #f2f2f2;
    }

.serMaintain {
    background: url(https://ku.ku711.com/Areas/Mobile/Content/images/vi-vn/icon_maintain.svg) no-repeat top;
    background-size: auto 50%;
    color: #ff7575;
    font-size: 0.95em;
    padding-top: 20px;
    box-sizing: border-box;
    text-align: center;
    font-weight: normal;
    display: none;
}

.serMaintain_in {
    position: absolute;
    bottom: 0;
    left: 4%;
    right: 7%;
    display: none;
    z-index: 1;
}

.serMaintain_text {
    position: absolute;
    box-sizing: border-box;
    background-color: #ff9900;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    font-size: 1em;
    line-height: 1.3em;
    text-align: left;
    font-weight: normal;
    max-width: 75%;
}

    .serMaintain_text:before {
        content: '';
        position: absolute;
        top: -8px;
        left: 10px;
        border-style: solid;
        border-width: 0 0 9px 9px;
        border-color: transparent transparent #ff9900 transparent;
    }

.service_InL {
    display: table-cell;
    position: relative;
    width: 12%;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}

.service_InC {
    display: table-cell;
    vertical-align: middle;
    padding-right: 2%;
    padding-left: 4%;
}

.service_InR {
    display: table-cell;
    width: 20%;
    color: #6f6f6f;
    font-size: 0.75em;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

.Serv_img {
    line-height: 0;
}

    .Serv_img img {
        width: 24px;
        height: 24px;
    }

    .Serv_img .img_viber {
        width: 32px;
        height: 32px;
    }

.service_InC h3 {
    color: #000;
    margin: 0;
    padding: 0;
    font-size: 0.95em;
    word-break: break-all;
    font-weight: normal;
}

.Serv_t {
    font-size: 0.8em;
    color: #999;
    line-height: 1.2em;
}

.service_Mail {
    letter-spacing: -0.5px;
}

.btn_ServID {
    border-radius: 2px;
    color: #2782d7;
    padding: 4px 0 5px;
    line-height: 1.2em;
    margin: 0 auto;
    max-width: 90px;
    width: 100%;
    white-space: nowrap;
    box-sizing: border-box;
}

    .btn_ServID.bg_colorDB {
        color: #fff;
    }

        .btn_ServID.bg_colorDB:active {
            opacity: .8;
        }

.service_list.addArrow {
    background-image: url(https://ku.ku711.com/Areas/Mobile/Content/images/vi-vn/icon_arrowR.svg);
    background-repeat: no-repeat;
    background-size: auto 23%;
    background-position: 96% 50%;
}

@media (min-width: 360px) {
    .serMaintain_in {
        left: 5%;
    }

    .service {
        padding-top: 173px;
    }
}

@media (min-width: 375px) {
    .Serv_img img {
        width: 28px;
        height: 28px;
    }

    .Serv_img .img_viber {
        width: 36px;
        height: 36px;
    }
}

@media (min-width: 400px) {
    .service_list {
        height: 70px;
        margin-bottom: 17px;
    }

    .serMaintain {
        background-size: auto 55%;
        padding-top: 25px;
    }

    .serMaintain_in {
        left: 5.5%;
    }

    .btn_ServID {
        padding: 6px 0 7px;
    }

    .service {
        padding-top: 199px;
    }

        .service:before {
            top: 55px;
        }
}

@media (min-width: 534px) {
    .service {
        padding-top: 230px;
    }

        .service:after {
            background-size: 90% auto;
        }

    .service_Mail {
        letter-spacing: normal;
    }

    .service_InL {
        width: 20%;
    }
}

@media (min-width: 600px) {
    .service {
        padding-top: 236px;
    }

    .Serv_img img {
        width: 36px;
        height: 36px;
    }

    .service:after {
        background-size: 80% auto;
    }
}

@media (min-width: 768px) {
    .service_list.addArrow {
        background-position: 93.5% 50%;
    }

    .service_InC {
        padding-right: 0;
    }

    .serMaintain_in {
        left: 10%;
        right: 10%;
    }
}

/*立即聯繫按鈕*/
.service_Link {
    width: 152px;
    color: #fff;
    font-size: 1.1em;
    text-align: center;
    border-radius: 99px;
    background-color: rgba(12,74,191,0.7);
    margin: auto;
    display: table;
    cursor: pointer;
    line-height: 42px;
    margin-bottom: 20px;
    z-index: 1;
}

    .service_Link:active {
        background-color: rgba(15,94,242,0.7);
    }

@media (min-width: 360px) {
    .service_Link {
        width: 171px;
        line-height: 47px;
    }
}

@media (min-width: 375px) {
    .service_Link {
        width: 178px;
        line-height: 49px;
    }
}

@media (min-width: 400px) {
    .service_Link {
        width: 197px;
        line-height: 54px;
    }
}

@media (min-width: 534px) {
    .service_Link {
        width: 236px;
        line-height: 66px;
    }
}

@media (min-width: 600px) {
    .service_Link {
        width: 248px;
        line-height: 70px;
    }
}
